body{
  background-color: #282c34;
}
.head {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .header {
    background-color: #282c34;
    color: white;
    padding: 20px;
  }
  
  .main {
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  .main:hover{
    background-color: #666;
    transition-duration: 0.2s;
  }
  
  .stopa {
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
  }